include hspylib/welcome.txt
include hspylib/usage.txt
include hspylib/.version
include hspylib/resources/**
include hspylib/resources/log/**
include hspylib/addons/appman/templates/**
include hspylib/core/crud/db/sql/sql_stubs.sql
